.container {
    display: flex;
    flex-direction: row;
    height: 200px;
    /* border: 1px solid rgb(240, 240, 240); */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    width: 1000px;
    padding: 1em;
    height: 250px;
    /* justify-content: center;
    align-self: center; */
    margin-top: 3em;
    margin-left: 3em;
    margin-bottom: 12em;
}

h3 {
    color: #636363;
}

.product-image {
    width: 30%;
    height: 200px;
}

.product-image>img {
    height: 100%;
    width: 100%;
}

.product-details {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: -1em;
}

.description {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(74, 74, 74);
}


.add-btn>button {
    height: 3em;
    width: 12em;
    border-radius: .5em;
    border: none;
    cursor: pointer;
    color: #ffffff;
    background: #10C900;
}

.description>p {
    font-style: italic;
    font-weight: light;
    color: #707070;
}

.price>p {
    font-family: 'Courier New', Courier, monospace;
}

@media (max-width: 1058px) {
    .container {
        display: flex;
        flex-direction: column;
        height: 500px;
        /* border: 1px solid rgb(240, 240, 240); */
        box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
        padding: 2em;
        /* justify-content: center;
        align-self: center; */
        width: auto;
        margin-top: 3em;
        margin-left: 3em;
        margin-right: 3em;
    }


    .add-btn>button {
        height: 3em;
        width: 8em;
    }

    }