.container {
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 1000px;
    padding: 1em;
    height: 250px;
 
    margin-top: 3em;
    margin-left: 3em;
    margin-bottom: 12em;
}

h3 {
    color: #636363;
}

.product-image {
    width: 30%;
    height: 200px;
}

.product-image>img {
    height: 100%;
    width: 100%;
}

.product-details {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: -1em;
}

.description {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(74, 74, 74);
}


.add-btn>button {
    height: 3em;
    width: 12em;
    border-radius: .5em;
    border: none;
    cursor: pointer;
    color: #ffffff;
    background: #10C900;
}

.description>p {
    font-style: italic;
    font-weight: light;
    color: #707070;
}

.price>p {
    font-family: 'Courier New', Courier, monospace;
}

.spinner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media (max-width: 1058px) {
    .container {
        display: flex;
        flex-direction: column;
        height: 500px;
        padding: 2em;
        width: auto;
        margin-top: 3em;
        margin-left: 3em;
        margin-right: 3em;
    }


    .add-btn>button {
        height: 3em;
        width: 8em;
    }

    }