
<div class="category">
    <p>Browse by category</p>
    <div class="category-items">
        <div class="category-item">
            <a href="/products?category=1">
                <mat-icon class="wine-glass">local_bar</mat-icon>
            </a>
        </div>
        
        <div class="category-item">
            <a href="/products?category=1">
                <mat-icon class="fruit-ninja">local_drink</mat-icon>
            </a>
        </div>
        <div class="category-item">
            <a href="/products?category=1">
                <mat-icon class="food-chicken-leg">restaurant</mat-icon>
            </a>
        </div>
        <div class="category-item">
            <a href="/products?category=1">
                <mat-icon class="pot-of-food ">restaurant_menu</mat-icon>
            </a>
        </div>

        

      
    </div>
    
</div>