<nav>
    <div class="upper">
        <div class="brand-name">
            <a routerLink="/">Evergreens</a>
        </div>
        <div class="search-bar">
            <div class="search">
                <p>All Categories</p>
                <form>
                    <input type="text" placeholder="Search" />
                    <button type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>

        </div>
        <div class="cart-person ">
            <a routerLink="/cart">
            
                <mat-icon class="cart">shopping_cart</mat-icon>
            </a>
            <p id="number-of-items">5</p>
            <a routerLink="/login">
                
                <mat-icon class="person">person</mat-icon>
            </a>
        </div>
    </div>
    <div class="lower">
        <button> shop </button>
        <a routerLink="/products">meat & seafood</a>
        <a routerLink="/products">Drinks</a>
        <a routerLink="/products">Fruits & Vegetables</a>
        <a routerLink="/products">contact us</a>

    

    </div>
</nav>