

<body>
	<table>
		<thead>
			<tr>
				<th>User Name</th>
				<th>Email</th>
				<th>create at</th>
				<th>Remove</th>
				
			</tr>
		</thead>
		<tbody>
			<tr *ngFor=" let user of users">
				<td>{{user.is_admin}}</td>
				<td>{{user.email}}</td>
				<td>{{user.created_at|date}}</td>
				<td><button>Delete</button></td>
				
			</tr>
			<!-- <tr>
				<td>Ian</td>
				<td>ian@gmail.com</td>
				
			</tr>
			<tr>
				<td>Kuku</td>
				<td>kuku@gmail.com</td>
				
			</tr> -->
		</tbody>
	</table>
</body>



