
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: -50px;
}
th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
tr:hover {
    background-color: #f5f5f5;
}
th {
    background-color: #4CAF50;
    color: white;
}