

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    *{
        margin: 0px;
    }
    .container {
        width: 100%;
        margin: auto;
        padding-bottom: 50px;
    }
    .login-btn{
        background-color: crimson;
        color: #ffffff;
        text-decoration: none;
        padding: 10px;
        font-size: 18px;
    }
    .link{
        padding: 10px;
        background-color: aqua;
        color: white;
       border-style: none;
    }
</style>
<body>
    <table class="container">
      <tr>
          <td>
              <table width="600" style="margin: auto;">
                 <tr>
                     <td style="background-color: white; align:center;">
                        <p style="color: #000000;font-size:45px; font-weight:bold">
                            The Comforty</p>
                     </td>
                 </tr>
               </table>
          </td>
      </tr>
      <tr>
          <td style="padding: 20px;">
            <table width="600" style="margin: auto;">
                <tr>
                    <td>
                        
                        <img src="https://media.istockphoto.com/id/1356137883/photo/speech-bubble-with-welcome-message.jpg?b=1&s=170667a&w=0&k=20&c=c-NcirhU2VYAQlABFZsjl908Q42oWdfgz6CjY5cwdEQ="
                         alt="image"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p> Hello <%=name%> </p>
                        <h2 style="font-size: 35px;">Welcome to Comforty </h2>
                        <p style="color: black;font-size: 30px; margin: 10px 0px;font-weight: 400;">
                           We are excited to give you a first class furniture shopping experience.</p>
                        <p style="color: black;font-size: 20px;Margin: 10px 0px;font-weight: 400; max-width: 500px;">
                            </p>
                       
                        
                    </td>
                </tr>
            </table>
        </td>
      </tr>
      <tr>
          <td>
              <table width="600" style="margin: auto;">
                
            </table>
          </td>
      </tr>
    </table>
</body>
</html>
Footer
© 2023 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Backend_Development/registration.ejs at master · joe6276/Backend_Development