

.popular{
    width: 80%;
    margin: 0 auto;
    padding: 0 0 50px 0;
    
}

.popular .popular-picks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin: 0 auto;
    padding: 0 0 50px 0;
}
.spinner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px){
    .popular{
        width: 100%;
        padding: 0 0 50px 0;
        text-align: center;
    }
   
}

@media screen and (max-width: 480px){
    .popular{
        width: 100%;
        padding: 0 0 50px 0;
        text-align: center;
    }
    .popular .popular-picks{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin: 0 auto;
        padding: 0 0 50px 0;

    }

 
    
}