<div class="search-container">
  <div class="logo">
    <h2 routerLink="/home">Ever Greens Admin</h2>

  </div>

  <form action="/search">
    <input type="text" placeholder="Search..." name="search">
    <button type="submit"><mat-icon class="search">search</mat-icon></button>
  </form>
</div>

<div class="menu-content-container">
<div class="menu">
  <div class="links">
    <a routerLink="admindash" routerLinkActive="active">Dashboard</a>
    <a routerLink="products" routerLinkActive="active">View Products</a>
    <a routerLink="users" routerLinkActive="active">View Users</a>
    <a routerLink="orders" routerLinkActive="active">View Orders</a>
    <a routerLink="addproducts" routerLinkActive="active">Add Products</a>
  </div>
  
    <div class="menu">
        <div class="links">
            <a routerLink="admindash" routerLinkActive="active">Dashboard</a>
            <a routerLink="products" routerLinkActive="active">View/Update Products</a>
            <a routerLink="users" routerLinkActive="active">View Users</a>
            <a routerLink="orders" routerLinkActive="active">View Orders</a>
            <a routerLink="addproducts" routerLinkActive="active">Add Products</a>
            
          </div>
          
    </div>
    <div class="content">
        <div class="users">
            <mat-icon>group</mat-icon>
            <mat-icon>timeline</mat-icon>
          <p class="admin-bar">Customers</p>
        </div>
        <div class="products">
            <mat-icon>work</mat-icon>
            <mat-icon>timeline</mat-icon>
            <p class="admin-bar">Products</p>
        </div>
    </div>
    
    <div class="content2">
      

    <router-outlet></router-outlet>

    </div>
    


