<div class="search-container">
  <div class="logo">
    <h2 routerLink="/home">Ever Greens Admin</h2>

  </div>

  <form action="/search">
    <input type="text" placeholder="Search..." name="search">
    <button type="submit"><mat-icon class="search">search</mat-icon></button>
  </form>
</div>

<div class="menu-content-container">
<div class="menu">
  <div class="links">
    <a routerLink="admindash" routerLinkActive="active">Dashboard</a>
    <a routerLink="products" routerLinkActive="active">View/Update Products</a>
    <a routerLink="users" routerLinkActive="active">View Users</a>
    <a routerLink="orders" routerLinkActive="active">View Orders</a>
    <a routerLink="addproducts" routerLinkActive="active">Add Products</a>
  </div>

</div>


<div class="content">


  <router-outlet></router-outlet>

</div>
</div>