.search-container{
    width:100%;
    display: flex;
    justify-content: space-between;
    color: green;
    align-items: center;
}

.search-container .logo{
    
    display: flex;
    flex-direction: column;
 
}

form {
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;

}
form input{
    outline: none;
    border: none;
}
form button{
    outline: none;
    border: none;
    background-color: transparent;
}

.menu{
    width: 100px;

}
.menu .links{
    display: flex;
    flex-direction: column;
}

.content{
    display: inline;
    width: 100px;
}