<div class="main_container">
    <div class="top_nav">
        <h1>Ever Greens</h1>
        <label>All Category</label>
        <input type="text" placeholder="Iam searching for ....">
        <span class="material-symbols-outlined">
            person_2
        </span>
    </div>
    <div class="bottom_nav">
        <span class="shopbrand"><a href="#">Shop</a></span>
        <a routerLink="">Meat $ SeaFood</a>
        <a routerLink="">Drinks</a>
        <a routerLink="">Fruits & Veg</a>
        <a routerLink="">Contact</a>
    </div>


</div>