<div class="container">
    <header>
        <nav>
          <h2>Your Cart</h2>
        </nav>
      </header>
      
      <!DOCTYPE html>
<html>
    <main>
      <section class="cart-items">
        <div class="cart-item">
          <img src="https://via.placeholder.com/150x150" alt="Product Image">
          <div class="cart-item-details" *ngFor="let cart of carts">
            <h2>{{cart.product}}</h2>
            <p>Price: 220 Ksh</p>
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" value="1">
            <button class="remove-item">Remove</button>
          </div>
        </div>
        <!-- <div class="cart-item">
          <img src="https://via.placeholder.com/150x150" alt="Product Image">
          <div class="cart-item-details" *ngFor="let cart of carts">
            <h2>{{cart.product}}</h2>
            <p>Price: 200Ksh</p>
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" value="2">
            <button class="remove-item">Remove</button>
          </div>
        </div> -->
      </section>
      <section class="cart-total" *ngFor="let cart of carts">
        <h2>Cart Total: {{cart.price}} Ksh</h2>
        <div *ngIf="">
        <button class="checkout">Checkout</button>
      </div>
      </section>
    </main>
    
  
</html>

      
  
  </div>
