

.cart-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 80vh;
 
}
.cart-items .total{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}
.cart-items .cart-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 100%;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.cart-items .cart-item .cart-item-image {
  width: 30%;
  height: 100%;
}

.cart-items .cart-item .cart-item-image img {
  width: 100%;
  height: 100%;
}

.cart-items .cart-item .cart-item-info {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.cart-items .cart-item .actions {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart-items .cart-item .actions button {
  width: 100%;
  height: 30px;
  margin: 5px;
  background-color: rgb(74, 240, 74);
}

.cart-items .cart-item .actions button:hover {
  cursor: pointer;
}

.cart-items .cart-item .actions .quantity {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
}

.checkout {
  display: flex;
  align-items: center;
  justify-content:flex-end;
  width: 50%;
  margin: auto;
}

.checkout button {
  width: 100px;
  height: 50px;
  background-color: rgb(74, 240, 74);
}

.items{
  width: 100%;
}


@media screen and (max-width: 768px) {
  .cart-items .cart-item {
    width: 100%;
  }
  .cart-items .cart-item .cart-item-image {
    width: 20%;
  }
  .cart-items .cart-item .cart-item-info {
    width: 60%;
  }
  .cart-items .cart-item .actions {
    width: 20%;
  }
  .cart-items .total {
    width: 100%;
  }
  .checkout {
    width: 100%;
  }
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
}

@media screen and (max-width: 480px) {
  .cart-items .cart-item {
    width: 100%;
  }
  .cart-items .cart-item .cart-item-image {
    width: 20%;
  }
  .cart-items .cart-item .cart-item-info {
    width: 60%;
  }
  .cart-items .cart-item .actions {
    width: 20%;
  }
  .cart-items .total {
    width: 100%;
  }
  .checkout {
    width: 100%;
  }
  
}