
<div class="spinner" *ngIf="isLoading">
    <app-spinner ></app-spinner>
</div>

<div class="cart-items" *ngIf="!isLoading">
    <div *ngIf="cartItems.length == 0 else cart" class="empty-cart">
        <h3>Your cart is empty</h3>
        <p>Looks like you haven't added anything to your cart yet</p>
        <a routerLink="/products">Start shopping</a>

    </div>
    <ng-template #cart>
      <div class="cart-item" *ngFor="let item of cartItems" #cartItems>
        <div class="cart-item-image">
            <img src="{{item.product.product_image_url}}" alt="product image">
        </div>
        <div class="cart-item-info">
            <h3>{{item.product.name}}</h3>
            <!-- <p>{{item.product.description}}</p> -->
            <div class="cart-item-info-price">
                <span class="price">{{item.product.price | currency:'ksh':'symbol':'1.2-2'}}</span>
            </div>
        </div>
        <div class="actions">
            <button (click)=" removeCartItem(item)">Remove</button>
            <div class="quantity">
                <button (click)="decreaseQuantity(item)">-</button>
                <span>{{item.quantity}}</span>
                <button (click)="increaseQuantity(item)">+</button>
            </div>
        </div>
    </div>
    </ng-template>

    <div class="total" *ngIf="cartItems.length > 0">
        <span>Total  </span>
        <span>{{cartTotal | currency:'ksh':'symbol':'1.2-2'}}</span>
    </div>
    <div class="checkout" *ngIf="cartItems.length > 0">
        <button (click)="checkout()">Checkout</button>
    </div>
</div>