
<!-- email: ['', [Validators.required, Validators.email]],
password: ['', [Validators.required]],
phone: ['', [Validators.required]],

use reactive forms no bootstrap -->
<div class="form-group">
  sign up
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="input-control">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" formControlName="email">
    </div>

    <div class="input-control">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
    </div>

    <div class="input-control">
      <label for="phone">Phone</label>
      <input type="text" class="form-control" id="phone" placeholder="Phone" formControlName="phone">
    </div>

    <button type="submit">Submit</button>
  </form>
</div>