
.form-group{
    width: 50%;
    height: 50%;
    margin: auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    
}

.form-group form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 100%;
    
    
    
}

.form-group form .input-control{
    width: 100%;
    margin: 10px 0;
}

.form-group from .input-control label{
    display: block;
    width: 75px;
}

.form-group form .input-control input{
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
}

.form-group form .input-control input:focus{
    outline: none;
    border: 1px solid #000;
}

.form-group form  button{
    width: 100px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: rgb(74, 240, 74);
    color: #000;
    cursor: pointer;
}

.form-group form button:hover{
    background: rgb(0, 255, 0);
    color: #fff;
}


