
.form-group{
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 4em;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    
}

.form-group form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto; 
    width: 50%;
    margin-left: 25%;
}

.form-group form .input-control{
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: .1em;
    color: rgb(106, 106, 106);
}

.form-group form .input-control label{
    text-align: left;
}
h3 {
    font-size: 24px;;
    color: #10C900;
}

.form-group form .input-control input{
    width: 100%;
    height: 1em;
    border: .1px solid #989898;
    border-radius: .3em;
    padding: .9em;
    outline: none;
}

.form-group form  button{
    width: 40%;
    height: 3em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #15CF3E;
    color: #ffffff;
    cursor: pointer;
}

.form-group form button:hover{
    background: rgb(0, 255, 0);
    color: #fff;
}

@media(max-width: 1058px){
    .form-group form {
     display: flex;
     flex-direction: column;
     width: 100%;
     margin: auto;
    }

    .input-control {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: .5em;
    }
    input {
        width: auto;
    }

}
