
<footer>
    <div class="brand-name">
        <a routerLink="/">Evergreens</a>
    </div>
    <div class="social">
        <a href="https://www.facebook.com/">
            <i class="fa fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/">
            <i class="fa fa-instagram"></i>
        </a>
        <a href="https://twitter.com/">
            <i class="fa fa-twitter"></i>
        </a>
        <a href="https://www.youtube.com/">
            <i class="fa fa-youtube"></i>
        </a>
    </div>
    <div class="copyright">
        <p>© 2020 Evergreens. All rights reserved.</p>
    </div>
</footer>